.mixin.out/
.world-host-cache/
coremods/
crash-reports/
data/
local/
logs/
mods/
modernfix/
saves/
screenshots/
shaderpacks/
schematics/
patchouli_books/
resourcepacks/
server-resource-packs/
texturepacks/

emi.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json